.footer{
    margin: 10px auto;

/*make p and u tag horizaontal and vertically align*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
    /* width: 90%; */
}
.footer ul li{
    list-style: none;
    /*element behave like both inline and block
    1.do not start on a new line. They flow along with surrounding content as inline elements
    2.can have width, height, margins, paddings, and borders applied to them, similar to block-level elements*/
    display: inline-block;
    
    margin-left: 20px;
}

/********** Media query ***********/
@media(max-width:600px){
    .footer{
        display: block;
    }
    .footer ul{
        margin-top: 10px;
    }
    .footer ul li{
        margin: 4px;
    }
}