.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.gallery img{
    /*will take 23% each from parent campus and remaining 8% for spacing*/
    width: 23%;
    border-radius: 10px;
}